
*{
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Aptos Display', sans-serif;
    font-weight: 300;
}


.calculator {
  position: relative;
  width: 310px;
  margin: 190px auto;
  justify-content: center;
  padding: 5px;
  background-color: #262626;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calculator p{
  margin-top: 1px;
  padding-left: 10px;
  color: white;
  cursor:default;
}
.operation-display {
  width: calc(100% - 20px);
  height: 30px;
  font-size: 14px;
  margin-bottom: 10px;
  border: none;
  color: #898989;
  text-align: right;
  padding: 5px 10px;
  box-sizing: border-box;
}

#display {
  width: calc(100% - 20px);
  height: 50px;
  font-size: 35px;
  font-weight: 200;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  /* background-color: #fff; */
  /* color: rgb(45, 45, 45); */
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); */
  color: white;
  text-align: right;
  padding: 0 10px;
}

#display:disabled{
  background-color: transparent;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.8px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 19px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3f3f3f;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-gr{
  background-color: #343434;
}

.btn-gr:hover{
  background-color: #3f3f3f;
}

.equal{
  background-color: rgb(137, 243, 243);
  color: black;
  font-weight: 300;
  font-size: 23px;
}

.equal:hover{
  background-color: rgb(83, 184, 184);
}

button:hover {
  background-color: #343434;
}

button:active {
  background-color: #bfbfbf;
}

#historyButton {
  width: 100%;
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #222222;
  color: white;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

#historyButton:hover {
  background-color: #3b3b3b;
}

#historyButton:active {
  background-color: #bfbfbf;
}

.history-section {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(140, 140, 140);
  width: 100%;
  max-height: 50%;
  overflow-y: auto;
  background-color: #262626;;
  border-radius: 10px;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  transition: bottom 0.9s ease, max-height 1s ease;
}

.history-section.extended {
  background-color: rgb(63, 63, 10);
  border-radius: 10px;
  bottom: 0%;
  max-height: 50%;
}

.history-content .history-entry {
  margin-bottom: 10px;
  font-size: 14px;
  color: #9a9a9a;
}

.delete-button.small {
  font-size: 16px;
  margin-top: 68px;
  background-color: transparent;
}

.delete-button.small:hover{
  background-color: rgb(110, 0, 0);
}

.history-section.hidden {
  display: none;
}